
:root {
    --heading-color: #ccc;
    --para-color: #bbb;
    --bg: #151515;
}

html {
    background-color: var(--bg);
    font-family: serif;
    display: flex;           /* Enables flexbox layout */
    justify-content: center; /* Centers items horizontally */
}

head {
    align-items: center;
}

h1#title-heading {
    width: 50vw;
    color: var(--heading-color);
    text-align: center;
    font-size: 5em;
}

p {
    color: var(--para-color);
}

/* CSS classes */  
.arrow-title {
    font-size: 0.5em;
    position: relative;
    top: -0.5em;
    color: #3c6dc6;
}

.EN-title {
    position: relative;
    top: -0.3em;
    color: #ff9900;
}

.Code-title {
    font-family: "Roboto Condensed", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}